@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?uo3oai');
  src:  url('../fonts/icons.eot?uo3oai#iefix') format('embedded-opentype'),
  url('../fonts/icons.ttf?uo3oai') format('truetype'),
  url('../fonts/icons.woff?uo3oai') format('woff'),
  url('../fonts/icons.svg?uo3oai#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 19px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%icon-search:before {
  @extend %icon;
  content: "\e900";
  color: #cec6e2;
}
%icon-exclamation-sign:before {
  @extend %icon;
  content: "\e901";
  color: #5f5f6a;
}
%icon-info-sign:before {
  @extend %icon;
  content: "\e902";
  color: #5f5f6a;
}
%icon-ok-sign:before {
  @extend %icon;
  content: "\e903";
  color: #21c4a0;
}
